:root {
    --link-color: #009;
    --dev-color: #a00;
    --craft-color: #060;
    --bg: rgba(255,255,255,0.4);
}
.dark {
    --link-color: #99f;
    --dev-color: #f77;
    --craft-color: #7f7;
    --bg: rgba(0,0,0,0.6);
}
* {
    scrollbar-width: none;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.1s ease-out;
}
main {
    padding-top: 40px;
}
a {
    color: var(--link-color);
}
.dark {
    filter: none;
    color: white;
    background-color: #000;
}
.dark a {
    border-color: #fff;
}
.dark button {
    border-color: #fff;
}
.dark nav a {
    color: white;
}
h1,h2,h3 {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button a {
    height: 20px;
}
nav {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    z-index: 99;
    margin-bottom: 30px;
    position: fixed;
    width: calc(100vw - 40px);
    background-color: rgba(50,50,50,0.6);
    backdrop-filter: blur(6px);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}
nav span {
    color: white;
}
.command {
    font-family: monospace;
}
nav a:hover {
    background-color: #555;
    transition: background-color 0.3s;
    transition: background-image 0.3s;
}
.red:hover {
    background-color: #933;
}
.green:hover {
    background-color: #392;
}
.red.green:hover {
    background-image: linear-gradient(to right, #b00, #0b0);
}
.dev, .craft {padding-left: 0}
.dev {color: var(--dev-color)}
.craft {color: var(--craft-color)}
.desmos {
    background-color: #008c0e;
    color: #ffffff;
}
.desmos:hover {
    background-color: #00c714;
}
.spaceship {
    background-color: #004;
    color: #fff;
}
.grapple {
    background-color: #8f8;
    color: #000;
}
.toetactic {
    background-color: #09f;
    color: #000;
}
.robot {
    background-color: #0f3;
    color: #520;
}
.geometry {
    background-color: #f55;
    color: #000;
}
.slither {
    background-color: #206;
    color: #ff0;
}
.portal {
    background-color: #555;
    color: #8f8;
}
.blast {
    background-color: #206;
    color: #f55;
}
.plat {
    background-color: #555;
    color: #fff;
}
.pipes {
    background-color: #222;
    color: #bbb;
}
.pixel {
    background-color: #f70;
    color: #520;
}
.glass {
    background-color: rgba(200,200,255,0.6);
    backdrop-filter: blur(3px);
    color: #000;
}
.erosion {
    background-color: #666;
    color: #ec4;
}